<table cellpadding=0 cellspacing=0 border=0 width="100%">
<tr>
<td>
				    
<table cellpadding=5 cellspacing=0 border=0 width="100%">
<tr>
<td class=ltitle colspan=2>
<span id="FormTitle">
No Title
</span>&nbsp;&nbsp;<span></span>
</td>
<td class=lfilter align=right nowrap>
</td>

</tr>
				    
<tr  class=toolbar>
<td nowrap>
<a href="javascript:doNew()"><img src="$ui.image($ui.navNew)" width="24" height="24" border=0 alt="Add New"></a>
<a href="javascript:doDelete()"><img src="$ui.image($ui.navDelete)" width="24" height="24" border=0 alt="Delete Selected"></a>
<a href="javascript:doPrint()"><img src="$ui.image($ui.navPrint)" width="24" height="24" border=0 alt="Print"></a>
</td>
<td align=right nowrap>
</td>
<td align=right >
    <input type="hidden" name="rdfid" value="$entry.RdfId"/>
    <input type="submit" name="eventSubmit_doUpdate" class=fbutton onclick="saveForm()" value="Save"/>
    <input type="submit" name="eventSubmit_doDelete"  class=fbutton onclick="cancelForm()" value="Cancel"/>
</td>
</tr>
</table>
</td>
</tr>
</table>
