	function loadUtil(utilTemplate, idNo)
	{
		formLocation= utilTemplate;
		formLocation+="/id/" + idNo;

		loadForm(formLocation);
	}

	function loadForm (url) {
//	  window.frames['buffer'].document.location.href=url;
	  window.frames['buffer'].document.location.replace(url);
	}

	function loadRelatedForm (url) {
//	  window.frames['buffer'].document.location.href=url;
	  window.frames['buffer'].document.location.replace(url);
	}

	function copyFormContent (formName, isNew) {

//		if (lastReturnType==SCREEN_FORM)
//		{
//			needsReload=relatedScreen;
//			lastReturnType=SCREEN_LIST;
//			showDetail(lastReturnForm, lastReturnId);
//		}

		showForm(formName, isNew);
		
//		if (formName!=lastScreen && lastScreenType==SCREEN_FORM)
//		{
//			needsReload=relatedScreen;
//			lastReturnType=SCREEN_LIST;
//			window.frames['buffer'].history.back();
//		}

//		if (lastReturnType==SCREEN_FORM){
//			needsReload=relatedScreen;
//			lastReturnType=SCREEN_LIST;
//			showForm(lastReturnForm, false);
//			window.frames['buffer'].history.back();
//		}

		document.getElementById('DataFrame').style.backgroundColor = "$ui.formBg";
		document.getElementById('DataFrame').innerHTML = window.frames['buffer'].document.body.innerHTML;

		oldSc=document.getElementById('docFormScript');
		sc = document.createElement('script');
		sc.id="docFormScript";
		sc.text= window.frames.buffer.document.getElementById('formScript').text;
		document.body.replaceChild(sc, oldSc);
		retrieveInfo=false;
		
//		window.frames['buffer'].document.location.replace("about:blank");

		formInit();
	}

	function doReply( idNo)
	{
		formLocation= getFormTemplate(OUTBOX);
		formId= getFormId(OUTBOX);
		relNo= idNo * (-1);

//		formLocation+="/" + formId + "/" + relNo;
//		formLocation+="/" + formId + "/-1/baseform/" + INBOX + "/baseid/" + idNo;
		formLocation+="/formid/-1/baseform/" + INBOX + "/baseid/" + idNo;

		loadForm(formLocation);
		showForm(OUTBOX, true);
		showRetrieveInfo();

		lastTop=TOP_FORM_NEW;
	}

	function doEmailReply()
	{
		if (document.getElementById('formData')){
				formReplyToEmail();
		}
	}

	function showNew(formName)
	{
		formLocation= getFormTemplate(formName);
		formId= getFormId(formName);

//		formLocation+="/" + formId + "/0";
		formLocation+="/formid/0";

		loadForm(formLocation);
		showForm(formName, true);
		showRetrieveInfo();

		lastTop=TOP_FORM_NEW;
	}

	function showNewRelated(formName, formBase, idBase)
	{
		formLocation= getFormTemplate(formName);
		formId= getFormId(formName);
		needsReload=formName;
		
//		formLocation+="/" + formId + "/-1/baseform/" + formBase + "/baseid/" + idBase;
		formLocation+="/formid/-1/baseform/" + formBase + "/baseid/" + idBase;

		loadForm(formLocation);
		showForm(formName, true);
		showRetrieveInfo();

		lastScreenType=SCREEN_FORM;
		lastScreen=formBase;
		lastReturnType=SCREEN_FORM;
		lastReturnForm=formBase;
		lastReturnId=idBase;
		relatedScreen= formName;
		lastTop=TOP_FORM_EDIT;
	}

	function showDetail(formName, idNo)
	{
		formLocation= getFormTemplate(formName);
		formId= getFormId(formName);

//		formLocation+="/" + formId + "/" + idNo;
		formLocation+="/formid/" + idNo;

		loadForm(formLocation);
		showForm(formName, false);
		showRetrieveInfo();

		lastTop=TOP_FORM_EDIT;
	}

	function showRelated(motherForm, motherId, formName, idNo)
	{
		formLocation= getFormTemplate(formName);
		formId= getFormId(formName);
		needsReload=formName;

//		formLocation+="/" + formId + "/" + idNo;
		formLocation+="/formid/" + idNo;

//		loadForm(formLocation);
		loadRelatedForm(formLocation);
		showForm(formName, false);
		showRetrieveInfo();

		lastScreenType=SCREEN_FORM;
		lastScreen=motherForm;
		lastReturnType=SCREEN_FORM;
		lastReturnForm=motherForm;
		lastReturnId=motherId;
		relatedScreen= formName;
		lastTop=TOP_FORM_EDIT;
	}

	function getRelatedFormUrl(formName, idNo)
	{
		formLocation= getFormTemplate(formName);
		formId= getFormId(formName);

//		formLocation+="/" + formId + "/" + idNo;
		formLocation+="/formid/" + idNo;
		
		return formLocation;
	}


	function showForm(formName, isNew)
	{

		if (formName!=lastScreen || (formName==lastScreen && lastTop==TOP_LIST) || (isNew && lastTop==TOP_FORM_EDIT) || (!isNew && lastTop==TOP_FORM_NEW)){
			document.getElementById('ScreenTop').innerHTML = getFormTop(formName, isNew);
			document.getElementById("ScreenBottom").style.display="none";
		}

		if (isNew){
			lastTop=TOP_FORM_NEW;
		}else{
			lastTop=TOP_FORM_EDIT;
		}
		
//		document.getElementById('ScreenTop').innerHTML = getFormTop(formName, isNew);
		document.getElementById('DataFrame').style.height = screenHeight - formTopHeight - marginHeight;
		lastScreenType=SCREEN_FORM;
		lastScreen=formName;
	}

	function showSpecialTop(formName, isNew)
	{

		document.getElementById('ScreenTop').innerHTML = getFormTop(formName, isNew);
	}

	function getFormTop(formName, isNew)
	{
		formTopHeader='<table cellpadding=0 cellspacing=0 border=0 width="100%">';
		formTopHeader+='<tr>';
		formTopHeader+='<td>';
		formTopHeader+='<table cellpadding=5 cellspacing=0 border=0 width="100%">';
		formTopHeader+='<tr>';
		formTopHeader+='<td class=ltitle  align=left colspan=3>&nbsp;<span>'+ getFormTitle(formName, isNew)+'</span>&nbsp;&nbsp;<span></span></td>';
		formTopHeader+='</tr>';

		formToolbar='<tr class=toolbar>';
		formToolbar+='<td align=left nowrap>';
		formToolbar+='<span onClick="doNew()" style="cursor: pointer;"><img src="$ui.image($ui.navNew)" width="24" height="24" border=0 title="$!l10n.get("Common.Form.Toolbar.Tooltip.New")"></span>';
		if (isNew==false)
		{
			formToolbar+='<span onClick="doDelete()" style="cursor: pointer;"><img src="$ui.image($ui.navDelete)" width="24" height="24" border=0 title="$!l10n.get("Common.Form.Toolbar.Tooltip.Delete")"></span>';
		}
//		if (formName<3000 & isNew==false)
//		{
//			formToolbar+='<span onClick="doPrint()" style="cursor: pointer;"><img src="$ui.image($ui.navPrint)" width="24" height="24" border=0 title="$!l10n.get("Common.Form.Toolbar.Tooltip.Print")"></span>';
//		}
		formToolbar+='<span onClick="doHelp()" style="cursor: pointer;"><img src="$ui.image($ui.navHelp)" width="24" height="24" border=0 title="$!l10n.get("Common.Form.Toolbar.Tooltip.Help")"></span>';
		formToolbar+='</td>';
		formToolbar+='<td align=right nowrap></td>';
		formToolbar+='<td align=right >';
		if (formName==INBOX_EMAIL)
		{
	    	formToolbar+='<input type="button" name="replyButton" class=fbutton onclick="doEmailReply()" value="$!l10n.get("Inbox.Form.Button.Reply")"/>';
	    }
		if (isNew)
		{
	    	formToolbar+='<input type="button" name="okNewButton" class=fbutton onclick="doSaveAndNew()" value="$!l10n.get("Common.Form.Button.SaveAndNew")"/>';
	    }
	    formToolbar+='<input type="button" name="okReturnButton" class=fbutton onclick="doSaveAndReturn()" value="$!l10n.get("Common.Form.Button.SaveAndReturn")"/>';
	    formToolbar+='<input type="button" name="okButton" class=fbutton onclick="doSave()" value="$!l10n.get("Common.Form.Button.Save")"/>';
	    formToolbar+='<input type="button" name="cancelButton"  class=fbutton onclick="doCancel()" value="$!l10n.get("Common.Form.Button.Cancel")"/>';
		formToolbar+='</td>';
		formToolbar+='</tr>';
		
		formTopFooter='</table>';
		formTopFooter='</td>';
		formTopFooter='</tr>';
		formTopFooter='</table>';

		return formTopHeader + formToolbar + formTopFooter;
	}



	function getFormId(formName)
	{

		formId= this.creamObject[formName].idName;
		
		return formId;
	}

	function getFormTitle(formName, isNew)
	{
		if (isNew)
		{
			formTitle=this.creamObject[formName].titleNew;
		}
		else
		{
			formTitle=this.creamObject[formName].titleEdit;
		}

		return formTitle;
	}


	function doEdit(idNo)
	{
		showDetail(lastScreen, idNo);
	}

	function doNew()
	{
		return showNew(lastScreen);
	}

	function doCancel()
	{
		return showLastList();
	}

	function doSave()
	{
		if (document.getElementById('formData')){
			if (formValidate()){
				saveForm();
			}
		}
	}

	function doSaveAndReturn()
	{
		if (document.getElementById('formData')){
			if (formValidate()){
				if(lastReturnType==SCREEN_PORTAL){
					saveFormAndReturn( getPortalUrl(lastPortal));
				}else if(lastReturnType==SCREEN_FORM){
					saveFormAndReturn( getRelatedFormUrl(lastReturnForm, lastReturnId));
					lastReturnType=SCREEN_LIST;
					
				}else{
					saveFormAndReturn( getListUrl(lastList));
				}
			}
		}
	}

	function doSaveAndNew()
	{
		if (document.getElementById('formData')){
			if (formValidate()){
				saveFormAndNew();
			}
		}
	}

	function doDelete()
	{
		 if (confirm("$!l10n.get("Common.Form.Message.DeleteThisEntry")")){
			deleteForm( getListUrl(lastScreen));
		  }
	}

	function isEmpty(theField){
		   if( theField.value=="" ) {
		      showInfo("$!l10n.get("Common.Form.Message.RequiredField")");
		      theField.focus();
		      return true;
		   } else {
		      return false;
		   }
	}
		
	function isNotLogin(theField){
		   if( theField.value=="" || theField.value.length<4) {
		      showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
		      theField.focus();
		      return true;
		   } else {
		      return false;
		   }
	}

	function isNotPassword(theField){
		   if( trimString(theField.value)=="" || trimString(theField.value).length<6) {
		      showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
		      theField.focus();
		      return true;
		   } else {
		      return false;
		   }
	}

	function isNotIpNo(theField){
		if (isNaN(theField.value) || theField.value<0 || theField.value>255){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotInteger(theField){
//		alert("$!l10n.get("Common.Form.Message.WrongValue")");
		return false;
	}
	
	function isNotFloat(theField){
		if (isNaN(theField.value)){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotPositive(theField){
		if (theField.value<0 || theField.value==0){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNegative(theField){
		if (theField.value < 0){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotAmount(theField){
		if (isNaN(theField.value) || theField.value<0){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotRate(theField){
		if (isNaN(theField.value) || theField.value<0){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotQuantity(theField){
		if (isNaN(theField.value) || theField.value<0 || theField.value==0){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function isNotDate(theField){
		if (isDate(theField.value)== false){
//			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	var dtCh= ".";
	var minYear=1900;
	var maxYear=2100;
	
	function isInteger(s){
		var i;
	    for (i = 0; i < s.length; i++){   
	        // Check that current character is number.
	        var c = s.charAt(i);
	        if (((c < "0") || (c > "9"))) return false;
	    }
	    // All characters are numbers.
	    return true;
	}
	
	function stripCharsInBag(s, bag){
		var i;
	    var returnString = "";
	    // Search through string's characters one by one.
	    // If character is not in bag, append to returnString.
	    for (i = 0; i < s.length; i++){   
	        var c = s.charAt(i);
	        if (bag.indexOf(c) == -1) returnString += c;
	    }
	    return returnString;
	}
	
	function daysInFebruary (year){
		// February has 29 days in any year evenly divisible by four,
	    // EXCEPT for centurial years which are not also divisible by 400.
	    return (((year % 4 == 0) && ( (!(year % 100 == 0)) || (year % 400 == 0))) ? 29 : 28 );
	}

	function DaysArray(n) {
		for (var i = 1; i <= n; i++) {
			this[i] = 31
			if (i==4 || i==6 || i==9 || i==11) {this[i] = 30}
			if (i==2) {this[i] = 29}
	   } 
	   return this
	}
	
	function isDate(dtStr){
		var daysInMonth = DaysArray(12)
		var pos1=dtStr.indexOf(dtCh)
		var pos2=dtStr.indexOf(dtCh,pos1+1)
		var strDay=dtStr.substring(0,pos1)
		var strMonth=dtStr.substring(pos1+1,pos2)
		var strYear=dtStr.substring(pos2+1)
		strYr=strYear
		if (strDay.charAt(0)=="0" && strDay.length>1) strDay=strDay.substring(1)
		if (strMonth.charAt(0)=="0" && strMonth.length>1) strMonth=strMonth.substring(1)
		for (var i = 1; i <= 3; i++) {
			if (strYr.charAt(0)=="0" && strYr.length>1) strYr=strYr.substring(1)
		}
		month=parseInt(strMonth)
		day=parseInt(strDay)
		year=parseInt(strYr)
		if (pos1==-1 || pos2==-1){
//			alert("The date format should be : dd.mm.yyyy")
			alert("$!l10n.get("Common.Form.Message.InvalidDateFormat")")
			return false
		}
		if (strMonth.length<1 || month<1 || month>12){
//			alert("Please enter a valid month")
			alert("$!l10n.get("Common.Form.Message.EnterValidDate")")
			return false
		}
		if (strDay.length<1 || day<1 || day>31 || (month==2 && day>daysInFebruary(year)) || day > daysInMonth[month]){
//			alert("Please enter a valid day")
			alert("$!l10n.get("Common.Form.Message.EnterValidDate")")
			return false
		}
		if (strYear.length != 4 || year==0 || year<minYear || year>maxYear){
//			alert("Please enter a valid 4 digit year between "+minYear+" and "+maxYear)
			alert("$!l10n.get("Common.Form.Message.EnterValidDate")")
			return false
		}
		if (dtStr.indexOf(dtCh,pos2+1)!=-1 || isInteger(stripCharsInBag(dtStr, dtCh))==false){
//			alert("Please enter a valid date")
			alert("$!l10n.get("Common.Form.Message.EnterValidDate")")
			return false
		}
	return true
	}
	
	function isSelected(theField){
		if (theField.value < 1001){
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
			theField.focus();
			return true;
		} else {
		  return false;
		}
	}

	function formatDate(theValue){
		strFormated= theValue;
		return strFormated;
	}

	function formatAmount(theValue){
		strFormated= theValue.toFixed(2);
//		strFormated.toFixed(2);
//		strFormated= Math.round(theValue * 100) / 100;
		return strFormated;
	}

	function formatRate(theValue){
		strFormated= theValue;
		return strFormated;
	}

	function formatQuantity(theValue){
		strFormated= theValue;
		return strFormated;
	}

	function disableSave(){
		okButton.disabled= true;
	}

	function trimString (str) {
		while (str.charAt(0) == ' ')
			str = str.substring(1);
		while (str.charAt(str.length - 1) == ' ')
			str = str.substring(0, str.length - 1);
		return str;
	}

	function showWrongValue(theField){
		showInfo("$!l10n.get("Common.Form.Message.WrongValue")");
		theField.focus();
	}

	function getFormTemplate(formName)
	{
		formLocation= this.creamObject[formName].formTemplate;
		return formLocation;
	}


	<!-- Changes:  Sandeep V. Tamhankar (stamhankar@hotmail.com) -->
	
	/* 1.1.2: Fixed a bug where trailing . in e-mail address was passing
		(the bug is actually in the weak regexp engine of the browser; I
		simplified the regexps to make it work).
	1.1.1: Removed restriction that countries must be preceded by a domain,
		so abc@host.uk is now legal.  However, there's still the 
		restriction that an address must end in a two or three letter
		word.
	1.1: Rewrote most of the function to conform more closely to RFC 822.
	1.0: Original  */
	

	function isEmail (emailStr) {
	/* The following pattern is used to check if the entered e-mail address
	fits the user@domain format.  It also is used to separate the username
	from the domain. */
	var emailPat=/^(.+)@(.+)$/
	/* The following string represents the pattern for matching all special
	characters.  We don't want to allow special characters in the address. 
	These characters include ( ) < > @ , ; : \ " . [ ]    */
	var specialChars="\\(\\)<>@,;:\\\\\\\"\\.\\[\\]"
	/* The following string represents the range of characters allowed in a 
	username or domainname.  It really states which chars aren't allowed. */
	var validChars="\[^\\s" + specialChars + "\]"
	/* The following pattern applies if the "user" is a quoted string (in
	which case, there are no rules about which characters are allowed
	and which aren't; anything goes).  E.g. "jiminy cricket"@disney.com
	is a legal e-mail address. */
	var quotedUser="(\"[^\"]*\")"
	/* The following pattern applies for domains that are IP addresses,
	rather than symbolic names.  E.g. joe@[123.124.233.4] is a legal
	e-mail address. NOTE: The square brackets are required. */
	var ipDomainPat=/^\[(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})\]$/
	/* The following string represents an atom (basically a series of
	non-special characters.) */
	var atom=validChars + '+'
	/* The following string represents one word in the typical username.
	For example, in john.doe@somewhere.com, john and doe are words.
	Basically, a word is either an atom or quoted string. */
	var word="(" + atom + "|" + quotedUser + ")"
	// The following pattern describes the structure of the user
	var userPat=new RegExp("^" + word + "(\\." + word + ")*$")
	/* The following pattern describes the structure of a normal symbolic
	domain, as opposed to ipDomainPat, shown above. */
	var domainPat=new RegExp("^" + atom + "(\\." + atom +")*$")
	
	
	/* Finally, let's start trying to figure out if the supplied address is
	valid. */
	
	/* Begin with the coarse pattern to simply break up user@domain into
	different pieces that are easy to analyze. */
	var matchArray=emailStr.match(emailPat)
	if (matchArray==null) {
	/* Too many/few @'s or something; basically, this address doesn't
	even fit the general mould of a valid e-mail address. */
		showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//		alert("Email address seems incorrect (check @ and .'s)")
		return false
	}
	var user=matchArray[1]
	var domain=matchArray[2]
	
	// See if "user" is valid 
	if (user.match(userPat)==null) {
	// user is not valid
	showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//	alert("The username doesn't seem to be valid.")
	return false
	}
	
	/* if the e-mail address is at an IP address (as opposed to a symbolic
	host name) make sure the IP address is valid. */
	var IPArray=domain.match(ipDomainPat)
	if (IPArray!=null) {
	// this is an IP address
		for (var i=1;i<=4;i++) {
		if (IPArray[i]>255) {
			showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//			alert("Destination IP address is invalid!")
			return false
		}
	}
	return true
	}
	
	// Domain is symbolic name
	var domainArray=domain.match(domainPat)
	if (domainArray==null) {
		showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//		alert("The domain name doesn't seem to be valid.")
	return false
	}
	
	/* domain name seems valid, but now make sure that it ends in a
	three-letter word (like com, edu, gov) or a two-letter word,
	representing country (uk, nl), and that there's a hostname preceding 
	the domain or country. */
	
	/* Now we need to break up the domain to get a count of how many atoms
	it consists of. */
	var atomPat=new RegExp(atom,"g")
	var domArr=domain.match(atomPat)
	var len=domArr.length
	if (domArr[domArr.length-1].length<2 || 
	domArr[domArr.length-1].length>3) {
	// the address must end in a two letter or three letter word.
	showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//	alert("The address must end in a three-letter domain, or two letter country.")
	return false
	}
	
	// Make sure there's a host name preceding the domain.
	if (len<2) {
	var errStr="This address is missing a hostname!"
	showInfo("$!l10n.get("Common.Form.Message.WrongValue")")
//	alert(errStr)
	return false
	}
	
	// If we've gotten this far, everything's valid!
	return true;
	}

	/*
	* A JavaScript implementation of the Secure Hash Algorithm, SHA-1, as defined
	* in FIPS PUB 180-1
	* Version 2.1a Copyright Paul Johnston 2000 - 2002.
	* Other contributors: Greg Holt, Andrew Kepert, Ydnar, Lostinet
	* Distributed under the BSD License
	* See http://pajhome.org.uk/crypt/md5 for details.
	*/
	
	/*
	* Configurable variables. You may need to tweak these to be compatible with
	* the server-side, but the defaults work in most cases.
	*/
	var hexcase = 0;  /* hex output format. 0 - lowercase; 1 - uppercase        */
	var b64pad  = ""; /* base-64 pad character. "=" for strict RFC compliance   */
	var chrsz   = 8;  /* bits per input character. 8 - ASCII; 16 - Unicode      */
	
	/*
	* These are the functions you'll usually want to call
	* They take string arguments and return either hex or base-64 encoded strings
	*/
	function hex_sha1(s){return binb2hex(core_sha1(str2binb(s),s.length * chrsz));}
	function b64_sha1(s){return binb2b64(core_sha1(str2binb(s),s.length * chrsz));}
	function str_sha1(s){return binb2str(core_sha1(str2binb(s),s.length * chrsz));}
	function hex_hmac_sha1(key, data){ return binb2hex(core_hmac_sha1(key, data));}
	function b64_hmac_sha1(key, data){ return binb2b64(core_hmac_sha1(key, data));}
	function str_hmac_sha1(key, data){ return binb2str(core_hmac_sha1(key, data));}
	
	/*
	* Perform a simple self-test to see if the VM is working
	*/
	function sha1_vm_test()
	{
	return hex_sha1("abc") == "a9993e364706816aba3e25717850c26c9cd0d89d";
	}
	
	/*
	* Calculate the SHA-1 of an array of big-endian words, and a bit length
	*/
	function core_sha1(x, len)
	{
	/* append padding */
	x[len >> 5] |= 0x80 << (24 - len % 32);
	x[((len + 64 >> 9) << 4) + 15] = len;
	
	var w = Array(80);
	var a =  1732584193;
	var b = -271733879;
	var c = -1732584194;
	var d =  271733878;
	var e = -1009589776;
	
	for(var i = 0; i < x.length; i += 16)
	{
	var olda = a;
	var oldb = b;
	var oldc = c;
	var oldd = d;
	var olde = e;
	
	for(var j = 0; j < 80; j++)
	{
	if(j < 16) w[j] = x[i + j];
	else w[j] = rol(w[j-3] ^ w[j-8] ^ w[j-14] ^ w[j-16], 1);
	var t = safe_add(safe_add(rol(a, 5), sha1_ft(j, b, c, d)),
			safe_add(safe_add(e, w[j]), sha1_kt(j)));
	e = d;
	d = c;
	c = rol(b, 30);
	b = a;
	a = t;
	}
	
	a = safe_add(a, olda);
	b = safe_add(b, oldb);
	c = safe_add(c, oldc);
	d = safe_add(d, oldd);
	e = safe_add(e, olde);
	}
	return Array(a, b, c, d, e);
	
	}
	
	/*
	* Perform the appropriate triplet combination function for the current
	* iteration
	*/
	function sha1_ft(t, b, c, d)
	{
	if(t < 20) return (b & c) | ((~b) & d);
	if(t < 40) return b ^ c ^ d;
	if(t < 60) return (b & c) | (b & d) | (c & d);
	return b ^ c ^ d;
	}
	
	/*
	* Determine the appropriate additive constant for the current iteration
	*/
	function sha1_kt(t)
	{
	return (t < 20) ?  1518500249 : (t < 40) ?  1859775393 :
		(t < 60) ? -1894007588 : -899497514;
	}
	
	/*
	* Calculate the HMAC-SHA1 of a key and some data
	*/
	function core_hmac_sha1(key, data)
	{
	var bkey = str2binb(key);
	if(bkey.length > 16) bkey = core_sha1(bkey, key.length * chrsz);
	
	var ipad = Array(16), opad = Array(16);
	for(var i = 0; i < 16; i++)
	{
	ipad[i] = bkey[i] ^ 0x36363636;
	opad[i] = bkey[i] ^ 0x5C5C5C5C;
	}
	
	var hash = core_sha1(ipad.concat(str2binb(data)), 512 + data.length * chrsz);
	return core_sha1(opad.concat(hash), 512 + 160);
	}
	
	/*
	* Add integers, wrapping at 2^32. This uses 16-bit operations internally
	* to work around bugs in some JS interpreters.
	*/
	function safe_add(x, y)
	{
	var lsw = (x & 0xFFFF) + (y & 0xFFFF);
	var msw = (x >> 16) + (y >> 16) + (lsw >> 16);
	return (msw << 16) | (lsw & 0xFFFF);
	}
	
	/*
	* Bitwise rotate a 32-bit number to the left.
	*/
	function rol(num, cnt)
	{
	return (num << cnt) | (num >>> (32 - cnt));
	}
	
	/*
	* Convert an 8-bit or 16-bit string to an array of big-endian words
	* In 8-bit function, characters >255 have their hi-byte silently ignored.
	*/
	function str2binb(str)
	{
	var bin = Array();
	var mask = (1 << chrsz) - 1;
	for(var i = 0; i < str.length * chrsz; i += chrsz)
	bin[i>>5] |= (str.charCodeAt(i / chrsz) & mask) << (32 - chrsz - i%32);
	return bin;
	}
	
	/*
	* Convert an array of big-endian words to a string
	*/
	function binb2str(bin)
	{
	var str = "";
	var mask = (1 << chrsz) - 1;
	for(var i = 0; i < bin.length * 32; i += chrsz)
	str += String.fromCharCode((bin[i>>5] >>> (32 - chrsz - i%32)) & mask);
	return str;
	}
	
	/*
	* Convert an array of big-endian words to a hex string.
	*/
	function binb2hex(binarray)
	{
	var hex_tab = hexcase ? "0123456789ABCDEF" : "0123456789abcdef";
	var str = "";
	for(var i = 0; i < binarray.length * 4; i++)
	{
	str += hex_tab.charAt((binarray[i>>2] >> ((3 - i%4)*8+4)) & 0xF) +
		hex_tab.charAt((binarray[i>>2] >> ((3 - i%4)*8  )) & 0xF);
	}
	return str;
	}
	
	/*
	* Convert an array of big-endian words to a base-64 string
	*/
	function binb2b64(binarray)
	{
	var tab = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/";
	var str = "";
	for(var i = 0; i < binarray.length * 4; i += 3)
	{
	var triplet = (((binarray[i   >> 2] >> 8 * (3 -  i   %4)) & 0xFF) << 16)
			| (((binarray[i+1 >> 2] >> 8 * (3 - (i+1)%4)) & 0xFF) << 8 )
			|  ((binarray[i+2 >> 2] >> 8 * (3 - (i+2)%4)) & 0xFF);
	for(var j = 0; j < 4; j++)
	{
	if(i * 8 + j * 6 > binarray.length * 32) str += b64pad;
	else str += tab.charAt((triplet >> 6*(3-j)) & 0x3F);
	}
	}
	return str;
	}
