#set ( $module = "Options" )
#listCommon()
#listHeader(3015 "AgeCategoryList.vm" "AgeCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.AgeCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.AgeCatId')">$entry.AgeCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
