#set ( $module = "Options" )
#formCommon(3002)

function formInit(){
	highlight(myForm.carriername);
}

function formValidate(){
	if (isEmpty(myForm.carriername)) return false;

	return true;
}

#formHeader("CarrierForm.vm" "CarrierSQL" "carrierid" $!entry.CarrierId $mode)

      <tr>  
        #formCell ($!l10n.get("Common.Form.Label.Name") "carriername" $!entry.CarrierName 50 200 1)
      </tr>

#formFooter("CarrierForm.vm" "CarrierSQL" "carrierid" $!entry.CarrierId $mode)
