#set ( $module = "Options" )
#listCommon()
#listHeader(3002 "CarrierList.vm" "CarrierSQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.CarrierId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.CarrierId')">$entry.CarrierName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
