#set ( $module = "Options" )
#listCommon()
#listHeader(3013 "ContactCategoryList.vm" "ContactCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.ContactCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.ContactCatId')">$entry.ContactCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
