#set ( $module = "Options" )
#listCommon()
#listHeader(3006 "EducationCategoryList.vm" "EducationCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.EducationCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.EducationCatId')">$entry.EducationCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
