#set ( $module = "Options" )
#listCommon()
#listHeader(3017 "EmployeeNoCategoryList.vm" "EmployeeNoCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.EmployeeNoCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.EmployeeNoCatId')">$entry.EmployeeNoCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
