#set ( $module = "Options" )
#listCommon()
#listHeader(3005 "HouseholdCategoryList.vm" "HouseholdCategorySQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.HouseholdCatId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.HouseholdCatId')">$entry.HouseholdCatName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
