#set ( $module = "Application" )
$page.setTitle("CReaM")

var defaultList=$!preferences.DefaultList;

MSG_ABOUT='CReaM 2.0.0 \n\nWritten by Nenad Pandzic\nImport and part of HTML email module contributed by Roman Maxymchuk\nFCKeditor written by Frederico Caldeira Knabben\nDocumentation: Melissa Paulissen\nProject management: Sava Tatic, Douglas Arellanes\n\nLocalizers:\nDutch - Frans van Berckel\nGerman - Micz Flor\nRussian and Ukrainian - Roman Maxymchuk\nSerbian - Ana Nedic\nSpanish - Claudia Cruz';

TAB_COMM=101;
TAB_SALES=102;
TAB_OPTIONS=103;
TAB_SYSTEM=104;

TOP_LIST=101;
TOP_FORM_NEW=102;
TOP_FORM_EDIT=103;
TOP_DIALOG=104;
TOP_PORTAL=105;

SCREEN_LIST=101;
SCREEN_FORM=102;
SCREEN_DIALOG=103;
SCREEN_PORTAL=104;

HELP=999;
HOME=1000;
CUSTOMER=1001;
PROJECT=1002;
PRODUCT=1003;
ORDER=2001;
PAYMENT=2002;
ONLINE_SUBSCRIPTION=2003;
PRINT_SUBSCRIPTION=2004;
SHIPMENT=2005;
SERVICE=2006;
USAGE=2007;
NEWSLETTER=2008;
OUTBOX=2009;
INBOX=2010;
INBOX_EMAIL=2011;
NEWS_SUBSCRIPTION=2012;
CURRENCY=3001;
CARRIER=3002;
COUNTRY=3003;
REGION=3012;
LANGUAGE=3004;
HOUSEHOLD_CATEGORY=3005;
EDUCATION_CATEGORY=3006;
UOM=3007;
VENDOR=3008;
PROJECT_CATEGORY=3009;
CUSTOMER_CATEGORY=3010;
PRODUCT_CATEGORY=3011;
USER=4001;
GROUP=4002;
ROLE=4003;
PERMISSION=4004;
REPORT=5001;
PREFERENCES=5002;
PASSWORD=5003;
NOTIFICATION=5004;
SCHEDULER=5005;
IMPORT=5006;

HELP_INDEX=101;
HELP_CREDITS=102;
HELP_FORUMS=103;
HELP_MAILING=104;
HELP_BUGS=105;
HELP_FAQ=106;


TI_COMM='$!l10n.get("Application.Tab.Communication")';
TI_SALES='$!l10n.get("Application.Tab.Sales")';
TI_OPTIONS='$!l10n.get("Application.Tab.Options")';
TI_SYSTEM='$!l10n.get("Application.Tab.System")';
TI_WELCOME='$!preferences.Welcome';
TI_HOME='$!l10n.get("Home.Menu.Label")';
TI_HELP='$!l10n.get("Help.Menu.Label")';
TI_LOGOUT='$!l10n.get("Application.Link.Logout")';

function ScreenObject (mlb, ltpl, ftpl, idn, tl, tn, te, filterno, findstr, sortcol, sortord){
	this.menuLabel=mlb;
	this.listTemplate=ltpl;
	this.formTemplate=ftpl;
	this.idName=idn;
	this.titleList=tl;
	this.titleNew=tn;
	this.titleEdit=te;
	this.filterNumber=filterno;
	this.findString=findstr;
	this.sortColumn=sortcol;
	this.sortOrder=sortord;
}

var creamObject= new Array();

creamObject[HELP]=new ScreenObject("$!l10n.get("Help.Menu.Label")", "$link.setPage("Help.vm")", "", "", "$!l10n.get("Help.List.Title")", "", "", 1000, "", 0, "ASC");
creamObject[HOME]=new ScreenObject("$!l10n.get("Home.Menu.Label")", "$link.setPage("Home.vm")", "", "", "$!l10n.get("Home.List.Title")", "", "", 1000, "", 0, "ASC");
creamObject[CUSTOMER]=new ScreenObject("$!l10n.get("Customer.Menu.Label")", "$link.setPage("CustomerList.vm")", "$link.setPage("CustomerForm.vm")", "customerid", "$!l10n.get("Customer.List.Title")", "$!l10n.get("Customer.Form.NewTitle")", "$!l10n.get("Customer.Form.Title")", $!preferences.CustomerFid, "", 2, "ASC");
creamObject[PROJECT]=new ScreenObject("$!l10n.get("Project.Menu.Label")", "$link.setPage("ProjectList.vm")", "$link.setPage("ProjectForm.vm")", "projectid", "$!l10n.get("Project.List.Title")", "$!l10n.get("Project.Form.NewTitle")", "$!l10n.get("Project.Form.Title")", $!preferences.ProjectFid, "", 2, "ASC");
creamObject[PRODUCT]=new ScreenObject("$!l10n.get("Product.Menu.Label")", "$link.setPage("ProductList.vm")", "$link.setPage("ProductForm.vm")", "productid", "$!l10n.get("Product.List.Title")", "$!l10n.get("Product.Form.NewTitle")", "$!l10n.get("Product.Form.Title")", $!preferences.ProductFid, "", 2, "ASC");
creamObject[ORDER]=new ScreenObject("$!l10n.get("SalesOrder.Menu.Label")", "$link.setPage("OrderList.vm")", "$link.setPage("OrderForm.vm")", "sorderid", "$!l10n.get("SalesOrder.List.Title")", "$!l10n.get("SalesOrder.Form.NewTitle")", "$!l10n.get("SalesOrder.Form.Title")", $!preferences.SorderFid, "", 6, "DESC");
creamObject[PAYMENT]=new ScreenObject("$!l10n.get("Payment.Menu.Label")", "$link.setPage("PaymentList.vm")", "$link.setPage("PaymentForm.vm")", "paymentid", "$!l10n.get("Payment.List.Title")", "$!l10n.get("Payment.Form.NewTitle")", "$!l10n.get("Payment.Form.Title")", $!preferences.PaymentFid, "", 6, "DESC");
creamObject[ONLINE_SUBSCRIPTION]=new ScreenObject("$!l10n.get("OnlineSubscription.Menu.Label")", "$link.setPage("OnlineSubscriptionList.vm")", "$link.setPage("OnlineSubscriptionForm.vm")", "onlinesubsid", "$!l10n.get("OnlineSubscription.List.Title")", "$!l10n.get("OnlineSubscription.Form.NewTitle")", "$!l10n.get("OnlineSubscription.Form.Title")", $!preferences.OnlineSubsFid, "", 5, "DESC");
creamObject[PRINT_SUBSCRIPTION]=new ScreenObject("$!l10n.get("PrintSubscription.Menu.Label")", "$link.setPage("PrintSubscriptionList.vm")", "$link.setPage("PrintSubscriptionForm.vm")", "printsubsid", "$!l10n.get("PrintSubscription.List.Title")", "$!l10n.get("PrintSubscription.Form.NewTitle")", "$!l10n.get("PrintSubscription.Form.Title")", $!preferences.PrintSubsFid, "", 5, "DESC");
creamObject[SERVICE]=new ScreenObject("$!l10n.get("Service.Menu.Label")", "$link.setPage("ServiceList.vm")", "$link.setPage("ServiceForm.vm")", "serviceid", "$!l10n.get("Service.List.Title")", "$!l10n.get("Service.Form.NewTitle")", "$!l10n.get("Service.Form.Title")", $!preferences.ServiceFid, "", 4, "DESC");
creamObject[SHIPMENT]=new ScreenObject("$!l10n.get("Shipment.Menu.Label")", "$link.setPage("ShipmentList.vm")", "$link.setPage("ShipmentForm.vm")", "shipmentid", "$!l10n.get("Shipment.List.Title")", "$!l10n.get("Shipment.Form.NewTitle")", "$!l10n.get("Shipment.Form.Title")", $!preferences.ShipmentFid, "", 5, "DESC");
creamObject[USAGE]=new ScreenObject("Usages", "$link.setPage("UsageList.vm")", "$link.setPage("UsageForm.vm")", "usageid", "Usages", "New Usage", "Usage", 1000, "", 1, "ASC");
creamObject[NEWSLETTER]=new ScreenObject("$!l10n.get("Newsletter.Menu.Label")", "$link.setPage("NewsletterList.vm")", "$link.setPage("NewsletterForm.vm")", "newsletterid", "$!l10n.get("Newsletter.List.Title")", "$!l10n.get("Newsletter.Form.NewTitle")", "$!l10n.get("Newsletter.Form.Title")", $!preferences.NewsletterFid, "", 4, "DESC");
creamObject[OUTBOX]=new ScreenObject("$!l10n.get("Outbox.Menu.Label")", "$link.setPage("OutboxEventList.vm")", "$link.setPage("OutboxEventForm.vm")", "outboxeventid", "$!l10n.get("Outbox.List.Title")", "$!l10n.get("Outbox.Form.NewTitle")", "$!l10n.get("Outbox.Form.Title")", $!preferences.OutboxFid, "", 4, "DESC");
creamObject[INBOX]=new ScreenObject("$!l10n.get("Inbox.Menu.Label")", "$link.setPage("InboxEventList.vm")", "$link.setPage("InboxEventForm.vm")", "inboxeventid", "$!l10n.get("Inbox.List.Title")", "$!l10n.get("Inbox.Form.NewTitle")", "$!l10n.get("Inbox.Form.Title")", $!preferences.InboxFid, "", 4, "DESC");
creamObject[INBOX_EMAIL]=new ScreenObject("$!l10n.get("Inbox.Menu.Label")", "$link.setPage("InboxEventList.vm")", "$link.setPage("InboxEventForm.vm")", "inboxeventid", "$!l10n.get("Inbox.List.Title")", "$!l10n.get("Inbox.Form.NewTitle")", "$!l10n.get("Inbox.Form.Title")", $!preferences.InboxFid, "", 4, "DESC");
creamObject[NEWS_SUBSCRIPTION]=new ScreenObject("$!l10n.get("NewsSubscription.Menu.Label")", "$link.setPage("NewsSubscriptionList.vm")", "$link.setPage("NewsSubscriptionForm.vm")", "newssubsid", "$!l10n.get("NewsSubscription.List.Title")", "$!l10n.get("NewsSubscription.Form.NewTitle")", "$!l10n.get("NewsSubscription.Form.Title")", $!preferences.NewsSubsFid, "", 4, "DESC");
creamObject[CURRENCY]=new ScreenObject("$!l10n.get("Currency.Menu.Label")", "$link.setPage("CurrencyList.vm")", "$link.setPage("CurrencyForm.vm")", "currencyid", "$!l10n.get("Currency.List.Title")", "$!l10n.get("Currency.Form.NewTitle")", "$!l10n.get("Currency.Form.Title")", 1000, "", 1, "ASC");
creamObject[CARRIER]=new ScreenObject("$!l10n.get("Carrier.Menu.Label")", "$link.setPage("CarrierList.vm")", "$link.setPage("CarrierForm.vm")", "carrierid", "$!l10n.get("Carrier.List.Title")", "$!l10n.get("Carrier.Form.NewTitle")", "$!l10n.get("Carrier.Form.Title")", 1000, "", 1, "ASC");
creamObject[COUNTRY]=new ScreenObject("$!l10n.get("Country.Menu.Label")", "$link.setPage("CountryList.vm")", "$link.setPage("CountryForm.vm")", "countryid", "$!l10n.get("Country.List.Title")", "$!l10n.get("Country.Form.NewTitle")", "$!l10n.get("Country.Form.Title")", 1000, "", 1, "ASC");
creamObject[REGION]=new ScreenObject("$!l10n.get("Region.Menu.Label")", "$link.setPage("RegionList.vm")", "$link.setPage("RegionForm.vm")", "regionid", "$!l10n.get("Region.List.Title")", "$!l10n.get("Region.Form.NewTitle")", "$!l10n.get("Region.Form.Title")", 1000, "", 1, "ASC");
creamObject[LANGUAGE]=new ScreenObject("$!l10n.get("Language.Menu.Label")", "$link.setPage("LanguageList.vm")", "$link.setPage("LanguageForm.vm")", "languageid", "$!l10n.get("Language.List.Title")", "$!l10n.get("Language.Form.NewTitle")", "$!l10n.get("Language.Form.Title")", 1000, "", 1, "ASC");
creamObject[HOUSEHOLD_CATEGORY]=new ScreenObject("$!l10n.get("HouseholdIncome.Menu.Label")", "$link.setPage("HouseholdCategoryList.vm")", "$link.setPage("HouseholdCategoryForm.vm")", "householdcatid", "$!l10n.get("HouseholdIncome.List.Title")", "$!l10n.get("HouseholdIncome.Form.NewTitle")", "$!l10n.get("HouseholdIncome.Form.Title")", 1000, "", 1, "ASC");
creamObject[EDUCATION_CATEGORY]=new ScreenObject("$!l10n.get("Education.Menu.Label")", "$link.setPage("EducationCategoryList.vm")", "$link.setPage("EducationCategoryForm.vm")", "educationcatid", "$!l10n.get("Education.List.Title")", "$!l10n.get("Education.Form.NewTitle")", "$!l10n.get("Education.Form.Title")", 1000, "", 1, "ASC");
creamObject[UOM]=new ScreenObject("$!l10n.get("UOM.Menu.Label")", "$link.setPage("UomList.vm")", "$link.setPage("UomForm.vm")", "uomid", "$!l10n.get("UOM.List.Title")", "$!l10n.get("UOM.Form.NewTitle")", "$!l10n.get("UOM.Form.Title")", 1000, "", 1, "ASC");
creamObject[VENDOR]=new ScreenObject("$!l10n.get("Vendor.Menu.Label")", "$link.setPage("VendorList.vm")", "$link.setPage("VendorForm.vm")", "vendorid", "$!l10n.get("Vendor.List.Title")", "$!l10n.get("Vendor.Form.NewTitle")", "$!l10n.get("Vendor.Form.Title")", 1000, "", 1, "ASC");
creamObject[PROJECT_CATEGORY]=new ScreenObject("$!l10n.get("ProjectCategory.Menu.Label")", "$link.setPage("ProjectCategoryList.vm")", "$link.setPage("ProjectCategoryForm.vm")", "projectcatid", "$!l10n.get("ProjectCategory.List.Title")", "$!l10n.get("ProjectCategory.Form.NewTitle")", "$!l10n.get("ProjectCategory.Form.Title")", 1000, "", 1, "ASC");
creamObject[CUSTOMER_CATEGORY]=new ScreenObject("$!l10n.get("CustomerCategory.Menu.Label")", "$link.setPage("CustomerCategoryList.vm")", "$link.setPage("CustomerCategoryForm.vm")", "customercatid", "$!l10n.get("CustomerCategory.List.Title")", "$!l10n.get("CustomerCategory.Form.NewTitle")", "$!l10n.get("CustomerCategory.Form.Title")", 1000, "", 1, "ASC");
creamObject[PRODUCT_CATEGORY]=new ScreenObject("$!l10n.get("ProductCategory.Menu.Label")", "$link.setPage("ProductCategoryList.vm")", "$link.setPage("ProductCategoryForm.vm")", "productcatid", "$!l10n.get("ProductCategory.List.Title")", "$!l10n.get("ProductCategory.Form.NewTitle")", "$!l10n.get("ProductCategory.Form.Title")", 1000, "", 1, "ASC");
creamObject[USER]=new ScreenObject("$!l10n.get("User.Menu.Label")", "$link.setPage("UserList.vm")", "$link.setPage("UserForm.vm")", "userid", "$!l10n.get("User.List.Title")", "$!l10n.get("User.Form.NewTitle")", "$!l10n.get("User.Form.Title")", 1000, "", 1, "ASC");
creamObject[GROUP]=new ScreenObject("Groups", "$link.setPage("group,FluxGroupList.vm")", "$link.setPage("group,FluxGroupForm.vm")", "name", "Groups", "New Group", "Group", 1000, "", 1, "ASC");
creamObject[ROLE]=new ScreenObject("$!l10n.get("Role.Menu.Label")", "$link.setPage("RoleList.vm")", "$link.setPage("RoleForm.vm")", "roleid", "$!l10n.get("Role.List.Title")", "$!l10n.get("Role.Form.NewTitle")", "$!l10n.get("Role.Form.Title")", 1000, "", 1, "ASC");
creamObject[PERMISSION]=new ScreenObject("Permissions", "$link.setPage("PermissionList.vm")", "$link.setPage("PermissionForm.vm")", "permissionid", "Permissions", "New Permission", "Permission", 1000, "", 1, "ASC");
creamObject[REPORT]=new ScreenObject("$!l10n.get("Report.Menu.Label")", "", "$link.setPage("ReportForm.vm")", "", "", "", "$!l10n.get("Report.Form.Title")", 0, "", 0);
creamObject[PREFERENCES]=new ScreenObject("$!l10n.get("Preferences.Menu.Label")", "", "$link.setPage("PreferencesForm.vm")", "userid", "", "", "$!l10n.get("Preferences.Form.Title")", 1000, "", 0, "ASC");
creamObject[PASSWORD]=new ScreenObject("$!l10n.get("Password.Menu.Label")", "", "$link.setPage("PasswordForm.vm")", "userid", "", "", "$!l10n.get("Password.Form.Title")", 1000, "", 0, "ASC");
creamObject[NOTIFICATION]=new ScreenObject("$!l10n.get("Notification.Menu.Label")", "$link.setPage("NotificationList.vm")", "$link.setPage("NotificationForm.vm")", "notificationid", "$!l10n.get("Notification.List.Title")", "$!l10n.get("Notification.Form.NewTitle")", "$!l10n.get("Notification.Form.Title")", 1000, "", 0, "ASC");
creamObject[SCHEDULER]=new ScreenObject("Scheduler Service", "", "$link.setPage("SchedulerDialog.vm")", "userid", "", "", "Scheduler", 1000, "", 0, "ASC");
creamObject[IMPORT]=new ScreenObject("$!l10n.get("Import.Menu.Label")", "", "$link.setPage("ImportForm.vm")", "userid", "", "", "$!l10n.get("Import.Form.Title")", 1000, "", 0, "ASC");

	function getTabContent(tabId)
	{
		tabContent='';
		if (tabId==TAB_OPTIONS)
		{
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_COMM)">'+TI_COMM+'</span></td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SALES)">'+TI_SALES+'</span></td>';
			tabContent+='<td class=tabhi align=center valign=center>'+TI_OPTIONS+'</td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SYSTEM)">'+TI_SYSTEM+'</span></td>';
		}
		else if (tabId==TAB_SYSTEM)
		{
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_COMM)">'+TI_COMM+'</span></td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SALES)">'+TI_SALES+'</span></td>';
			tabContent+='<td  class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_OPTIONS)">'+TI_OPTIONS+'</span></td>';
			tabContent+='<td  class=tabhi align=center valign=center>'+TI_SYSTEM+'</td>';
		}
		else if (tabId==TAB_SALES)
		{
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_COMM)">'+TI_COMM+'</span></td>';
			tabContent+='<td  class=tabhi align=center valign=center>'+TI_SALES+'</td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_OPTIONS)">'+TI_OPTIONS+'</span></td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SYSTEM)">'+TI_SYSTEM+'</span></td>';
		}
		else
		{
			tabContent+='<td class=tabhi align=center valign=center>'+TI_COMM+'</td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SALES)">'+TI_SALES+'</span></td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_OPTIONS)">'+TI_OPTIONS+'</span></td>';
			tabContent+='<td class=tablo align=center valign=center><span class="tlink" onClick="showTab(TAB_SYSTEM)">'+TI_SYSTEM+'</span></td>';
		}
		
		return tabContent;
	}

	function getMenuContent(tabId)			
	{
		menuContent='';
		beforeMenuItem='<tr class="mitemlo">';
		beforeMenuItem+='<td width="1%" nowrap><img src="$ui.image($ui.space)" width="7" height="16"></td>';
		beforeFirstMenuItem='<tr class="mitemhi">';
		beforeFirstMenuItem+='<td width="1%" nowrap><img src="$ui.image($ui.space)" width="7" height="16"></td>';
		postMenuItem='</tr>';

		menuSpace='<tr class="mitemsp">';
		menuSpace+='<td width="1%" nowrap><img src="$ui.image($ui.space)" width="7" height="16"></td>';
		menuSpace+='<td>&nbsp;</td>';
		menuSpace+='</tr>';

		if (tabId==TAB_OPTIONS)
		{
			menuContent+=beforeFirstMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(CUSTOMER_CATEGORY)">'+getMenuLabel(CUSTOMER_CATEGORY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PRODUCT_CATEGORY)">'+getMenuLabel(PRODUCT_CATEGORY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PROJECT_CATEGORY)">'+getMenuLabel(PROJECT_CATEGORY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=menuSpace;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(VENDOR)">'+getMenuLabel(VENDOR)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(UOM)">'+getMenuLabel(UOM)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(LANGUAGE)">'+getMenuLabel(LANGUAGE)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(COUNTRY)">'+getMenuLabel(COUNTRY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(REGION)">'+getMenuLabel(REGION)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(CURRENCY)">'+getMenuLabel(CURRENCY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(CARRIER)">'+getMenuLabel(CARRIER)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(HOUSEHOLD_CATEGORY)">'+getMenuLabel(HOUSEHOLD_CATEGORY)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(EDUCATION_CATEGORY)">'+getMenuLabel(EDUCATION_CATEGORY)+'</span></td>';
			menuContent+=postMenuItem;
			
		}
		else if (tabId==TAB_SYSTEM)
		{
			menuContent+=beforeFirstMenuItem;
			menuContent+='<td><span class="mlink" onClick="showDialog(PREFERENCES)">'+getMenuLabel(PREFERENCES)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showDialog(PASSWORD)">'+getMenuLabel(PASSWORD)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=menuSpace;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showDialog(NOTIFICATION)">'+getMenuLabel(NOTIFICATION)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=menuSpace;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(ROLE)">'+getMenuLabel(ROLE)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(USER)">'+getMenuLabel(USER)+'</span></td>';
			menuContent+=postMenuItem;
			
            menuContent+=menuSpace;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showDialog(IMPORT)">'+getMenuLabel(IMPORT)+'</span></td>';
			menuContent+=postMenuItem;

//			menuContent+=beforeMenuItem;
//			menuContent+='<td><span class="mlink" onClick="showNotReady(SCHEDULER)">'+getMenuLabel(SCHEDULER)+'</span></td>';
//			menuContent+=postMenuItem;
		}
		else if (tabId==TAB_SALES)
		{
			menuContent+=beforeFirstMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(CUSTOMER)">'+getMenuLabel(CUSTOMER)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PRODUCT)">'+getMenuLabel(PRODUCT)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PROJECT)">'+getMenuLabel(PROJECT)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=menuSpace;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(ORDER)">'+getMenuLabel(ORDER)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PAYMENT)">'+getMenuLabel(PAYMENT)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(SHIPMENT)">'+getMenuLabel(SHIPMENT)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(SERVICE)">'+getMenuLabel(SERVICE)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(PRINT_SUBSCRIPTION)">'+getMenuLabel(PRINT_SUBSCRIPTION)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(ONLINE_SUBSCRIPTION)">'+getMenuLabel(ONLINE_SUBSCRIPTION)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=menuSpace;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showDialog(REPORT)">'+getMenuLabel(REPORT)+'</span></td>';
			menuContent+=postMenuItem;
		}
		else
		{
			menuContent+=beforeFirstMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(INBOX)">'+getMenuLabel(INBOX)+'</span></td>';
			menuContent+=postMenuItem;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(OUTBOX)">'+getMenuLabel(OUTBOX)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=menuSpace;
			
			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(NEWS_SUBSCRIPTION)">'+getMenuLabel(NEWS_SUBSCRIPTION)+'</span></td>';
			menuContent+=postMenuItem;

			menuContent+=beforeMenuItem;
			menuContent+='<td><span class="mlink" onClick="showList(NEWSLETTER)">'+getMenuLabel(NEWSLETTER)+'</span></td>';
			menuContent+=postMenuItem;
			
		}
		
		return menuContent;
	}

	function getListFilter(listName)
	{
		filterContent='<option value="1000">&nbsp;---</option>';

		if (listName==CUSTOMER)
		{
			filterContent+='<option value="1001">$!l10n.get("Customer.List.Filter.Option.People")</option>';
			filterContent+='<option value="1002">$!l10n.get("Customer.List.Filter.Option.Institutions")</option>';
			filterContent+='<option value="1003">$!l10n.get("Customer.List.Filter.Option.Prospects")</option>';
			filterContent+='<option value="1004">$!l10n.get("Customer.List.Filter.Option.Active")</option>';
			filterContent+='<option value="1005">$!l10n.get("Customer.List.Filter.Option.Inactive")</option>';
			filterContent+='<option value="1006">$!l10n.get("Customer.List.Filter.Option.MyEntries")</option>';
		}
		else if (listName==PRODUCT)
		{
			filterContent+='<option value="1001">$!l10n.get("Product.List.Filter.Option.StockItems")</option>';
			filterContent+='<option value="1002">$!l10n.get("Product.List.Filter.Option.Services")</option>';
			filterContent+='<option value="1003">$!l10n.get("Product.List.Filter.Option.OnlineSubscriptions")</option>';
			filterContent+='<option value="1004">$!l10n.get("Product.List.Filter.Option.PrintSubscriptions")</option>';
			filterContent+='<option value="1005">$!l10n.get("Product.List.Filter.Option.Active")</option>';
			filterContent+='<option value="1006">$!l10n.get("Product.List.Filter.Option.Inactive")</option>';
			filterContent+='<option value="1007">$!l10n.get("Product.List.Filter.Option.MyEntries")</option>';
		}
		else if (listName==PROJECT)
		{
			filterContent+='<option value="1001">$!l10n.get("Project.List.Filter.Option.Active")</option>';
			filterContent+='<option value="1002">$!l10n.get("Project.List.Filter.Option.Inactive")</option>';
			filterContent+='<option value="1003">$!l10n.get("Project.List.Filter.Option.MyEntries")</option>';
		}
		else
		{
			filterContent+='<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>';
			filterContent+='<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>';
			filterContent+='<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>';
			filterContent+='<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>';
			filterContent+='<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>';
			filterContent+='<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>';
			filterContent+='<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>';
			filterContent+='<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>';
			filterContent+='<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>';

		}
		
		return filterContent;
	}

	function getListHeadings(listName)
	{

		listHeading='';
		
		if (listName==CUSTOMER)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="35%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Category")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Customer.List.Header.City")</span></td>';
			listHeading+='<td width="10%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Customer.List.Header.Country")</span></td>';
		}
		else if (listName==PROJECT)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Category")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Project.List.Header.Start")</span></td>';
			listHeading+='<td width="10%" align="right"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Project.List.Header.Expenses")&nbsp;</span></td>';
			listHeading+='<td><img src="$ui.image($ui.space)" width=16></td>';
		}
		else if (listName==PRODUCT)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Category")</span></td>';
			listHeading+='<td width="10%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Product.List.Header.UOM")</span></td>';
			listHeading+='<td width="15%" align="right"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Product.List.Header.Price")&nbsp;</span></td>';
			listHeading+='<td><img src="$ui.image($ui.space)" width=16></td>';
		}
		else if (listName==ORDER)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("SalesOrder.List.Header.PayTerm")</span></td>';
			listHeading+='<td width="15%" align="right"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Total")&nbsp;</span></td>';
			listHeading+='<td width="10%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Common.List.Header.Currency")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(6)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==PAYMENT)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Order")</span></td>';
			listHeading+='<td width="15%" align="right"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Total")&nbsp;</span></td>';
			listHeading+='<td width="10%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Common.List.Header.Currency")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(6)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==SHIPMENT)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Order")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Shipment.List.Header.Carrier")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==SERVICE)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="35%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Order")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==ONLINE_SUBSCRIPTION)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Order")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Product")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==PRINT_SUBSCRIPTION)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Order")</span></td>';
			listHeading+='<td width="25%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Product")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(5)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==USAGE)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="35%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Product")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">Start</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(5)">End</span></td>';
		}
		else if (listName==INBOX)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="40%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Subject")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==OUTBOX)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="40%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Subject")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Customer")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==NEWS_SUBSCRIPTION)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="40%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("NewsSubscription.List.Header.Email")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Product")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==NEWSLETTER)
		{
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Id")</span></td>';
			listHeading+='<td width="40%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Subject")</span></td>';
			listHeading+='<td width="30%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Common.List.Header.Product")</span></td>';
			listHeading+='<td width="15%"><span class="lhlink" onClick="doSort(4)">$!l10n.get("Common.List.Header.Date")</span></td>';
		}
		else if (listName==CURRENCY)
		{
			listHeading+='<td width="60%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Code")</span></td>';
			listHeading+='<td width="20%" align="right"><span class="lhlink" onClick="doSort(3)">$!l10n.get("Currency.List.Header.Rate")&nbsp;</span></td>';
			listHeading+='<td><img src="$ui.image($ui.space)" width=16></td>';
		}
		else if (listName==COUNTRY)
		{
			listHeading+='<td width="80%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Code")</span></td>';
		}
		else if (listName==LANGUAGE)
		{
			listHeading+='<td width="80%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Code")</span></td>';
		}
		else if (listName==UOM)
		{
			listHeading+='<td width="80%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Name")</span></td>';
			listHeading+='<td width="20%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("Common.List.Header.Code")</span></td>';
		}
		else if (listName==USER)
		{
			listHeading+='<td width="33%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("User.List.Header.User")</span></td>';
			listHeading+='<td width="33%"><span class="lhlink" onClick="doSort(2)">$!l10n.get("User.List.Header.FirstName")</span></td>';
			listHeading+='<td width="33%"><span class="lhlink" onClick="doSort(3)">$!l10n.get("User.List.Header.LastName")</span></td>';
		}
		else
		{
			listHeading+='<td width="100%"><span class="lhlink" onClick="doSort(1)">$!l10n.get("Common.List.Header.Name")</span></td>';
		}
		
		return listHeading;
		
	}


