#set ( $module = "Options" )
#listCommon()
#listHeader(3019 "JobPositionList.vm" "JobPositionSQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.JobPositionId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.JobPositionId')">$entry.JobPositionName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
