#set ( $module = "Options" )
#listCommon()
#listHeader(3018 "LeadSourceList.vm" "LeadSourceSQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.LeadSourceId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.LeadSourceId')">$entry.LeadSourceName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
