
$page.setTitle("CReaM")
$page.addBodyAttribute("onload", "loginInit()")

<script language="JavaScript">

function loginInit(){
	if (parent.window.frames['buffer'])
	{
		parent.doLogin();		
	}
	else
	{
		myForm=document.getElementById('formLogin');
		myForm.username.focus();
		myForm.username.select();
	}
}

</script>

<script language=JavaScript>
	if (window.innerHeight)
	{
		myHeight = window.innerHeight;
	}
	else if (document.documentElement && document.documentElement.clientHeight)
	{
		myHeight = document.documentElement.clientHeight;
	}
	else if (document.body)
	{
		myHeight = document.body.clientHeight;
	}

	myHeight=myHeight - 60;
	myHeight= parseInt(myHeight * 0.8);
	myScreen='<table width="100%" height="' + myHeight + '" cellpadding="0" cellspacing="0" border="0">';
	document.write(myScreen);
</script>


<tr>
<td align="center" valign="middle">
	<table cellspace=50 width=400 align="center" style="border-bottom: solid 1px #EEF3FB;">
		<tr>
			<td align="center" valign="middle" style="border-top: solid 1px #EEF3FB; border-bottom: solid 1px #EEF3FB;">
				<table align="center" width="100%" cellpadding=10>
				<tr>
				<td align="center" valign="top">
				<img src="$ui.image($ui.logo)">
				</td>
				<td align="left" valign="center">
				<font color="#1F386A" size="+3"><b>CReaM 3.0.0</b></font>
				</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
		<td align="center">
		&nbsp;
		</td>
		</tr>
		<tr>
		<td align="center" valign="middle">
			<form name="formLogin" id="formLogin" method="post" action="$link.setAction("LoginUser")">
			  <table align="center">
			    <tr>
			    <td>
				<table align="center" cellpadding=3>
				    <tr>
			    		#formCell ($!l10n.get("Application.Login.User") "username" "" 30 160 1)
			    	</tr>
			    	<tr>
			       		#formPasswordCell ($!l10n.get("Application.Login.Password") "password" "" 30 160 2)
			    	</tr>
				</table>
			    </td>
			    </tr>
			    	
			    <tr align="center">
			      <td>
			      &nbsp;
			      </td>
			    </tr>
			    <tr align="center">
			      <td>
			          <input type="submit" class=fbutton value="$!l10n.get("Application.Login.Button")">
			      </td>
			    </tr>
			  </table>
			</form>
		</td>
		</tr>
		<tr>
		<td align="center">
		&nbsp;
		</td>
		</tr>
		<tr>
		<td align="center" style="border-top: solid 1px #EEF3FB;">
		#if ( $data.getMessage())
				#if ( $data.getMessage() == "Thank you for using the system. Please come back soon.")
				  <font color="#FF0000" size="-1"><b>$!l10n.get("Common.Message.ThankYou")</b></font>
				#elseif ( $data.getMessage() == "Sorry your username or password is incorrect!")
				  <font color="#FF0000" size="-1"><b>$!l10n.get("Common.Message.BadLoginOrPassword")</b></font>
				#else
				  <font color="#FF0000" size="-1"><b>$data.getMessage()</b></font>
				#end
		#end
		</td>
		</tr>
	</table>
</td>
</tr>
</table>



