#set ( $module = "System" )

<head>

</head>
<body>

<table width="100%" height="100%">
<tr><td valign="center">

#if ($data.getMessage())
	<p align="center">$data.getMessage()</p>
#else
	<p align="center">Unsubscribe successful!</p>
#end

</td></tr>
</table>
</body>

