#set ( $module = "System" )
#formCommon()

function formInit(){
	myForm.subject1.focus();
}

function formValidate(){
	if (parent.isEmpty(myForm.subject1)) return false;
	if (parent.isEmpty(myForm.notification1)) return false;
	if (parent.isEmpty(myForm.subject2)) return false;
	if (parent.isEmpty(myForm.notification2)) return false;
	if (parent.isEmpty(myForm.subject3)) return false;
	if (parent.isEmpty(myForm.notification3)) return false;

	return true;
}

function saveForm(retUrl){
	myAction='NotificationSQL';
	myUrl= retUrl + '/action/' + myAction;
	myForm.action= myUrl;
	myForm.submit();
}
</script>
</head>
<body #TurbineHtmlBodyAttributes()>

<form id="formData" name="formData" target="buffer" method="post" action="" onSubmit="return formValidate();">
  <div id="Master" align="center">
    <table cellpadding=1 cellspacing=0 border=0>
<tr>
<td>
&nbsp;
</td>
</tr>
 		<tr>
			<td>
			&nbsp;
			</td>
    		#formLabel($!l10n.get("Notification.Form.Label.NewSubscription"))
 		</tr>
 		<tr>
    		#formCell ($!l10n.get("Common.Form.Label.Subject") "subject1" $!entry1.Subject 254 420 1)
 		</tr>
		<tr>
			<td>
			&nbsp;
			</td>
			<td align=center>
				<textarea rows="5" name="notification1" tabIndex=2 style="width: 420px;">$!entry1.Body</textarea>
			</td>
		</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
 		<tr>
			<td>
			&nbsp;
			</td>
    		#formLabel($!l10n.get("Notification.Form.Label.SubscriptionExpires"))
 		</tr>
 		<tr>
    		#formCell ($!l10n.get("Common.Form.Label.Subject") "subject2" $!entry2.Subject 254 420 3)
 		</tr>
		<tr>
			<td>
			&nbsp;
			</td>
			<td align=center>
				<textarea rows="5" name="notification2" tabIndex=4 style="width: 420px;">$!entry2.Body</textarea>
			</td>
		</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
 		<tr>
			<td>
			&nbsp;
			</td>
    		#formLabel($!l10n.get("Notification.Form.Label.SubscriptionExpired"))
 		</tr>
 		<tr>
    		#formCell ($!l10n.get("Common.Form.Label.Subject") "subject3" $!entry3.Subject 254 420 5)
 		</tr>
		<tr>
			<td>
			&nbsp;
			</td>
			<td align=center>
				<textarea rows="5" name="notification3" tabIndex=6 style="width: 420px;">$!entry3.Body</textarea>
			</td>
		</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
</table>


    <input type="hidden" name="eventSubmit_doUpdate" value="Update"/>
  </div>
</form>

	
