#set ( $module = "Main" )
#listCommon()
#listHeader(1008 "OpportunityList.vm" "OpportunitySQL" 8)
  
	#if ($entries)
		#foreach ($entry in $entries)
			#rowStatusClass ($!entry.Status)
				#addToggle($!entry.OpportunityId)
				#addListPic($ui.opportunity)
				<td width="15%"><span class="llink" onClick="doEdit('$!entry.OpportunityId')">$!entry.OpportunityCode</span></td>
				#listCellPrc (25 $!entry.OpportunityName)
				#listCellPrc (20 $!entry.Customer.CustomerDisplay)
				#listCellPrcAmount (15 $!entry.CurrencyAmount)
				#listCellPrc (10 $!entry.Currency.CurrencyCode)
				#listCellPrcDate (15 $!entry.IssuedDate)
	        </tr>        
		#end
	#end

#listFooter()
