#set ( $module = "Main" )
#listCommon()
#listHeader(2009 "OutboxEventList.vm" "OutboxEventSQL" 6)
  
	#if ($entries)
		#foreach ($entry in $entries)
			#rowStatusClass ($!entry.Status)

				#addToggle($!entry.OutboxEventId)
				#if ($!entry.EventType==20)
					#addListPic($ui.message)
				#elseif ($!entry.EventType==40)
					#addListPic($ui.info)
				#else
					#addListPic($ui.support)
				#end

				<td width="15%"><span class="llink" onClick="doEdit('$!entry.OutboxEventId')">$!entry.OutboxEventCode</span></td>
				#listCellPrc (40 $!entry.Subject)
				#listCellPrc (30 $!entry.Customer.CustomerDisplay)
				#listCellPrcDate (15 $!entry.IssuedDate)
	        </tr>        
		#end
	#end

#listFooter()
