#set ( $module = "System" )
#formCommon()

function formInit(){
	myForm.oldpassword.focus();
	myForm.oldpassword.select();
}

function formValidate(){

	if (parent.isEmpty(myForm.oldpassword)) return false;
	if (parent.isEmpty(myForm.newpassword1)) return false;
	if (parent.isEmpty(myForm.newpassword2)) return false;
	if (myForm.newpassword1.value != myForm.newpassword2.value){
		alert("$!l10n.get("Common.Form.Message.WrongValue")");
		myForm.newpassword2.focus();
		myForm.newpassword2.select();
		return false;
	}

	return true;
}

function saveForm(retUrl){
	myAction='PasswordSQL';
	myUrl= retUrl + '/action/' + myAction;
	myForm.action= myUrl;
	myForm.submit();
}
</script>
</head>
<body #TurbineHtmlBodyAttributes()>

<form id="formData" name="formData" target="buffer" method="post" action="" onSubmit="return formValidate();">
  <div id="Master" align="center">
    <table cellpadding=1 cellspacing=0 border=0>
<tr>
<td>
&nbsp;
</td>
</tr>
 		<tr>
    		#formPasswordCell ($!l10n.get("Password.Form.Label.OldPassword") "oldpassword" "" 32 140 1)
 		</tr>
 		<tr>
    		#formPasswordCell ($!l10n.get("Password.Form.Label.NewPassword") "newpassword1" "" 32 140 2)
 		</tr>
 		<tr>
    		#formPasswordCell ($!l10n.get("Password.Form.Label.NewPassword") "newpassword2" "" 32 140 3)
 		</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
</table>

    <input type="hidden" name="eventSubmit_doUpdate" value="Update"/>
  </div>
</form>

	
