#set ( $module = "System" )
#formCommon(5002)

function formInit(){
	myForm.defaultlist.value= $!entry.DefaultList;
	myForm.inboxfid.value= $!entry.InboxFid;
	myForm.outboxfid.value= $!entry.OutboxFid;
	myForm.taskfid.value= $!entry.TaskFid;
	myForm.customerfid.value= $!entry.CustomerFid;
	myForm.contactfid.value= $!entry.ContactFid;
	myForm.productfid.value= $!entry.ProductFid;
	myForm.projectfid.value= $!entry.ProjectFid;
	myForm.opportunityfid.value= $!entry.OpportunityFid;
	myForm.newssubsfid.value= $!entry.NewsSubsFid;
	myForm.newsletterfid.value= $!entry.NewsletterFid;
	myForm.onlinesubsfid.value= $!entry.OnlineSubsFid;
	myForm.printsubsfid.value= $!entry.PrintSubsFid;
	myForm.servicefid.value= $!entry.ServiceFid;
	myForm.shipmentfid.value= $!entry.ShipmentFid;
	myForm.paymentfid.value= $!entry.PaymentFid;
	myForm.sorderfid.value= $!entry.SorderFid;

	myForm.welcome.focus();
	myForm.welcome.select();
}

function formValidate(){
	if (parent.isEmpty(myForm.welcome)) return false;
	return true;
}

function saveFormAndReturn(retUrl){
	myAction='PreferencesSQL';
	myUrl= retUrl + '/action/' + myAction;
	myForm.action= myUrl;
	myForm.submit();
}
</script>
</head>
<body #TurbineHtmlBodyAttributes()>

<form id="formData" name="formData" target="buffer" method="post" action="" onSubmit="return formValidate();">
  <div id="Master" align="center">
    <table cellpadding=1 cellspacing=0 border=0>
<tr>
<td>
&nbsp;
</td>
</tr>
 		<tr>
    		#formCell ($!l10n.get("Preferences.Form.Label.WelcomeString") "welcome" $!entry.Welcome 32 140 1)
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Preferences.Form.Label.DefaultList"))
			<td align="left">
			<select name="defaultlist" tabIndex=2 value=$!entry.DefaultList STYLE="width: 140px">
				<option value="1000">$!l10n.get("Home.Menu.Label")</option>
				<option value="2010">$!l10n.get("Inbox.Menu.Label")</option>
				<option value="2009">$!l10n.get("Outbox.Menu.Label")</option>
				<option value="1005">$!l10n.get("Task.Menu.Label")</option>
				<option value="1001">$!l10n.get("Customer.Menu.Label")</option>
				<option value="1004">$!l10n.get("Contact.Menu.Label")</option>
				<option value="1003">$!l10n.get("Product.Menu.Label")</option>
				<option value="1002">$!l10n.get("Project.Menu.Label")</option>
				<option value="1008">$!l10n.get("Opportunity.Menu.Label")</option>
				<option value="2012">$!l10n.get("NewsSubscription.Menu.Label")</option>
				<option value="2008">$!l10n.get("Newsletter.Menu.Label")</option>
				<option value="2001">$!l10n.get("SalesOrder.Menu.Label")</option>
				<option value="2005">$!l10n.get("Shipment.Menu.Label")</option>
				<option value="2006">$!l10n.get("Service.Menu.Label")</option>
				<option value="2003">$!l10n.get("OnlineSubscription.Menu.Label")</option>
				<option value="2004">$!l10n.get("PrintSubscription.Menu.Label")</option>
				<option value="2002">$!l10n.get("Payment.Menu.Label")</option>
			</select>
			</td>
 		</tr>
</table>
    <table cellpadding=1 cellspacing=0 border=0>
<tr>
<td>
&nbsp;
</td>
</tr>
<tr class=toolbar align=center>
<td>
			$!l10n.get("Preferences.Form.Label.DefaultFilters")
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
</tr>
<tr>
<td>

    <table cellpadding=1 cellspacing=0 border=0>
 		<tr>
			#formLabel($!l10n.get("Inbox.Menu.Label"))
			<td align="left">
			<select name="inboxfid" tabIndex=10 value=$!entry.InboxFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Opportunity.Menu.Label"))
			<td align="left">
			<select name="opportunityfid" tabIndex=12 value=$!entry.OpportunityFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Outbox.Menu.Label"))
			<td align="left">
			<select name="outboxfid" tabIndex=11 value=$!entry.OutboxFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("NewsSubscription.Menu.Label"))
			<td align="left">
			<select name="newssubsfid" tabIndex=12 value=$!entry.NewsSubsFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formEmptyCell()
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Newsletter.Menu.Label"))
			<td align="left">
			<select name="newsletterfid" tabIndex=12 value=$!entry.NewsletterFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Task.Menu.Label"))
			<td align="left">
			<select name="taskfid" tabIndex=11 value=$!entry.TaskFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Task.List.Filter.Option.Due")</option>
				<option value="1004">$!l10n.get("Task.List.Filter.Option.Undated")</option>
				<option value="1005">$!l10n.get("Task.List.Filter.Option.AssignedToMe")</option>
				<option value="1007">$!l10n.get("Task.List.Filter.Option.Active")</option>
				<option value="1008">$!l10n.get("Task.List.Filter.Option.Completed")</option>
				<option value="1009">$!l10n.get("Task.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("SalesOrder.Menu.Label"))
			<td align="left">
			<select name="sorderfid" tabIndex=12 value=$!entry.SorderFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formEmptyCell()
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Shipment.Menu.Label"))
			<td align="left">
			<select name="shipmentfid" tabIndex=12 value=$!entry.ShipmentFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Customer.Menu.Label"))
			<td align="left">
			<select name="customerfid" tabIndex=11 value=$!entry.CustomerFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Customer.List.Filter.Option.People")</option>
				<option value="1002">$!l10n.get("Customer.List.Filter.Option.Institutions")</option>
				<option value="1003">$!l10n.get("Customer.List.Filter.Option.Prospects")</option>
				<option value="1004">$!l10n.get("Customer.List.Filter.Option.Active")</option>
				<option value="1005">$!l10n.get("Customer.List.Filter.Option.Inactive")</option>
				<option value="1006">$!l10n.get("Customer.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Service.Menu.Label"))
			<td align="left">
			<select name="servicefid" tabIndex=12 value=$!entry.ServiceFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Contact.Menu.Label"))
			<td align="left">
			<select name="contactfid" tabIndex=11 value=$!entry.CustomerFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Customer.List.Filter.Option.Active")</option>
				<option value="1002">$!l10n.get("Customer.List.Filter.Option.Inactive")</option>
				<option value="1003">$!l10n.get("Customer.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("OnlineSubscription.Menu.Label"))
			<td align="left">
			<select name="onlinesubsfid" tabIndex=12 value=$!entry.OnlineSubsFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Product.Menu.Label"))
			<td align="left">
			<select name="productfid" tabIndex=11 value=$!entry.ProductFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Product.List.Filter.Option.StockItems")</option>
				<option value="1002">$!l10n.get("Product.List.Filter.Option.Services")</option>
				<option value="1003">$!l10n.get("Product.List.Filter.Option.OnlineSubscriptions")</option>
				<option value="1004">$!l10n.get("Product.List.Filter.Option.PrintSubscriptions")</option>
				<option value="1005">$!l10n.get("Product.List.Filter.Option.Active")</option>
				<option value="1006">$!l10n.get("Product.List.Filter.Option.Inactive")</option>
				<option value="1007">$!l10n.get("Product.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("PrintSubscription.Menu.Label"))
			<td align="left">
			<select name="printsubsfid" tabIndex=12 value=$!entry.PrintSubsFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
 		</tr>
 		<tr>
			#formLabel($!l10n.get("Project.Menu.Label"))
			<td align="left">
			<select name="projectfid" tabIndex=11 value=$!entry.ProjectFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			</td>
				<td width=16>&nbsp;</td>
			#formLabel($!l10n.get("Payment.Menu.Label"))
			<td align="left">
			<select name="paymentfid" tabIndex=12 value=$!entry.PaymentFid STYLE="width: 140px">
				<option value="1000">( $!l10n.get("Common.List.Filter.Option.All") )</option>
				<option value="1001">$!l10n.get("Common.List.Filter.Option.Today")</option>
				<option value="1002">$!l10n.get("Common.List.Filter.Option.ThisMonth")</option>
				<option value="1003">$!l10n.get("Common.List.Filter.Option.LastMonth")</option>
				<option value="1004">$!l10n.get("Common.List.Filter.Option.ThisYear")</option>
				<option value="1005">$!l10n.get("Common.List.Filter.Option.LastYear")</option>
				<option value="1006">$!l10n.get("Common.List.Filter.Option.Drafts")</option>
				<option value="1007">$!l10n.get("Common.List.Filter.Option.Open")</option>
				<option value="1008">$!l10n.get("Common.List.Filter.Option.Closed")</option>
				<option value="1009">$!l10n.get("Common.List.Filter.Option.MyEntries")</option>
			</select>
			
			</td>
 		</tr>
</table>
</td>
</tr>
</table>


    <input type="hidden" name="userid" value="$!entry.UserId"/>
    <input type="hidden" name="username" value="$!entry.UserName"/>
    <input type="hidden" name="eventSubmit_doUpdate" value="Update"/>
  </div>
</form>

	
