#set ( $module = "Options" )
#formCommon()

function formInit(){
	highlight(myForm.productcatname);
}

function formValidate(){
	if (parent.isEmpty(myForm.productcatname)) return false;
	
	return true;
}

#formHeader("ProductCategoryForm.vm" "ProductCategorySQL" "productcatid" $!entry.ProductCatId $mode)

      <tr>  
        #formCell ($!l10n.get("Common.Form.Label.Name") "productcatname" $!entry.ProductCatName 50 200 1)
      </tr>

#formFooter("ProductCategoryForm.vm" "ProductCategorySQL" "productcatid" $!entry.ProductCatId $mode)
