#set ( $module = "Main" )
#listCommon()
#listHeader(1002 "ProjectList.vm" "ProjectSQL" 7)

	#if ($entries)

	    #foreach ($entry in $entries)
			#rowStatusClass($entry.Status)
				#addToggle($!entry.ProjectId)
				#addListPic($ui.project)
				<td width="15%"><span class="llink" onClick="doEdit('$entry.ProjectId')">$!entry.ProjectCode</span></td>
				#listCellPrc (30 $!entry.ProjectName)
				#listCellPrc (30 $!entry.ProjectCategory.ProjectCatName)
				#listCellPrcAmount (10 $!entry.Expenses)
				#listCellPrcDate (15 $!entry.StartDate)
			</tr>        
	    #end
	#end

#listFooter()
