#set ( $module = "Util" )
#utilCommon()

function copyDetails(){
	myForm=parent.document.getElementById('formData');

	myForm.projectid.value=$!entry.ProjectId;
	myForm.recipientid.value=$!entry.RecipientId;

	parent.doClearItems();
	#foreach ($entryitem in $entryitems)
		#if ($entryitem.Product.ProductType == 20)
			myRow= parent.doAddItem();
			suf= '_' + myRow;
			myForm['productid' + suf].value="$!entryitem.ProductId";
			myForm['description' + suf].value="$!entryitem.Description";
			myForm['uomcode' + suf].value="$!entryitem.Product.Uom.UomCode";
			myForm['quantity' + suf].value="$!entryitem.Quantity";
		#end
	#end
	parent.checkEmptyTable();
	myForm.projectid.focus();

}

#utilHeader()
#utilFooter()
