#set ( $module = "Options" )
#formCommon()

function formInit(){
	highlight(myForm.uomname);
}

function formValidate(){
	if (parent.isEmpty(myForm.uomname)) return false;
	if (parent.isEmpty(myForm.uomcode)) return false;

	myForm.uomcode.value = myForm.uomcode.value.toUpperCase();
	
	return true;
}

#formHeader("UomForm.vm" "UomSQL" "uomid" $!entry.UomId $mode)

      <tr>  
        #formCell ($!l10n.get("Common.Form.Label.Name") "uomname" $!entry.UomName 50 200 1)
      </tr>
      <tr>  
        #formCell ($!l10n.get("Common.Form.Label.Code") "uomcode" $!entry.UomCode 3 40 2)
      </tr>

#formFooter("UomForm.vm" "UomSQL" "uomid" $!entry.UomId $mode)
