#set ( $module = "Options" )
#formCommon(3009)

function formInit(){
	highlight(myForm.vendorname);
}

function formValidate(){
	if (parent.isEmpty(myForm.vendorname)) return false;
	
	return true;
}

#formHeader("VendorForm.vm" "VendorSQL" "vendorid" $!entry.VendorId $mode)

      <tr>  
        #formCell ($!l10n.get("Common.Form.Label.Name") "vendorname" $!entry.VendorName 50 200 1)
      </tr>

#formFooter("VendorForm.vm" "VendorSQL" "vendorid" $!entry.VendorId $mode)
