#set ( $module = "Options" )
#listCommon()
#listHeader(3009 "VendorList.vm" "VendorSQL" 3)
  
	#if ($entries)
		#foreach ($entry in $entries)
	        <tr class=rowopen valign="center">
				#addToggle($entry.VendorId)
				#addListPic($ui.space)
				<td width="100%"><span class="llink" onClick="doEdit('$entry.VendorId')">$entry.VendorName</span></td>
	        </tr>        
		#end
	#end

#listFooter()
